.about-desc-container{
    padding: 5rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
}
.about-desc-container img{
    width: 500px;
    height: 400px;
}
.about-desc-container .about-content{
    max-width: 500px;
    
}
.about-desc-container .about-content p{
    color: #292D32;
}
@media (max-width: 768px) {
    .about-desc-container {
        flex-direction: column-reverse;
        align-items: center;
        padding: 2rem;
        text-align: center;
    }
    .about-desc-container img {
        width: 100%;
        height: auto;
    }
    .about-desc-container .about-content {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .about-desc-container {
        padding: 1rem;
    }
    .about-desc-container img {
        width: 100%;
        height: auto;
    }
}