.about-hero{
    background: url('../../assets/background.png') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    gap: 2rem;
}
.about-hero img{
    margin-top: 10px;
    width: 400px;
    height: 400px;
}
.about-hero .about-container{
    color: #ffffff;
    max-width: 500px;
}
.about-hero .about-container h1{
    font-size: 100px;
    color: #F5AA1B;
    line-height: 0.5;
}
.about-hero .about-container h3{
    font-size: 30px;
}
@media (max-width: 768px) {
    .about-hero {
        flex-direction: column;
        padding-top: 2rem;
        gap: 1rem;
        height: auto;
    }
    .about-hero img {
        width: 350px;
    }
    .about-hero .about-container {
        max-width: 350px;
        text-align: center;
    }
    .about-hero .about-container h1 {
        font-size: 50px;
    }
    .about-hero .about-container h3 {
        font-size: 20px;
    }
}