.missions{
    padding: 4rem;
}
.mission-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mission-content .title{
    text-transform: uppercase;
    color: #F5AA1B;
    font-size: 16px;
}
.mission-content h1{
    font-size: 45px;
    font-weight: 700;
    margin: 1rem 0;
    color: #5A3316;
}
.mission-content .desc{
    color: #292D32;
    font-size: 20px;
}
.mission-content .stats-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.mission-content .stats-container .stats h2{
    font-size: 40px;
    color: #F5AA1B;
    font-weight: 800;
}
.mission-content .stats-container .stats p{
    font-size: 18px;
    color: #292D32;
}

/* Business styling */
.business-container{
    background: url('../../assets/bsbs.png');
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6rem;
    color: #fff;

}
.business-container .business-content{
    max-width: 450px;
    
}
.business-container h1{
    color: #F5AA1B;
}
.business-container p{
    font-size: 18px;
    font-weight: 500;
}

/* Join Section */
.join-container{
    padding-top: 5rem;
}
.join-container .title{
    text-align: center;
    text-transform: uppercase;
    color: #F5AA1B;
}
.join-container h1{
    text-align: center;
    color: #5A3316;
}
.join-container .join-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding-top: 3rem;

}
.join-container .join-content .desc p{
    font-size: 18px;
    color: #292D32;
}
.join-container .join-content .desc .info{
    font-weight: 500;
}
/* responsive styling */
@media (max-width: 768px) {
    .mission-container {
        flex-direction: column;
        align-items: center;
    }
    .mission-content h1 {
        font-size: 35px;
    }
    .mission-content .desc {
        font-size: 18px;
    }
    .mission-content .stats-container {
        gap: 10px;
        align-items: center;
    }
    .mission-content .stats-container .stats h2 {
        font-size: 30px;
    }
    .mission-content .stats-container .stats p {
        font-size: 16px;
    }
    .business-container {
        height: 300px;
        padding-right: 2rem;
    }
    .business-container h1 {
        font-size: 30px;
    }
    .business-container p {
        font-size: 16px;
    }
    .join-container .join-content {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    .mission-container img{
        width: 300px;
    }
    .mission-content .title{
        text-align: center;
    }
    .mission-content h1 {
        font-size: 25px;
        text-align: center;
    }
    .mission-content .desc {
        font-size: 16px;
    }
    .mission-content .stats-container .stats h2 {
        font-size: 15px;
    }
    .mission-content .stats-container .stats p {
        font-size: 12px;
    }
    .business-container {
        background: url('../../assets/bsmobilebg.png');
        height: 435px;
        background-repeat: no-repeat;
        padding-right: 1rem;
        margin-top: 2rem;
        width: 360px;
        justify-content: center;
        align-items: flex-start;

    }
    .business-container .business-content{
        max-width: 300px;
        text-align: center;
    }
    .business-container h1 {
        font-size: 25px;
    }
    .business-container p {
        font-size: 14px;
    }
    .join-container h1 {
        font-size: 25px;
    }
    .join-container .join-content{
        flex-direction: column-reverse;
        text-align: center;
    }
    .join-container .join-content .desc p {
        font-size: 16px;
    }
}