.services{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
    padding-bottom: 4rem;
}
.services .services-header{
    max-width: 1200px;
    text-align: center;
}
.services .services-header .title{
    font-size: 16px;
    color: #F5AA1B;
    text-transform: uppercase;
}
.services .services-header h2{
    font-size: 45px;
    font-weight: bold;
    color: #5A3316;
}
.services .services-header p{
    font-size: 18px;
    color: #292D32;
    font-weight: 600;
}
.services .services-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    gap: 4rem;
    
}
.services .services-content .services-details{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.services .services-content .services-details h3{
    font-size: 30px;
    color: #292D32;
    font-weight: 600;
}
.services .services-content .services-details ul{
    font-size: 18px;
    color: #292D32;
    font-weight: 400;
    list-style-type: none;
}
.services .services-content .services-details ul li{
    gap: 10px;
    display: flex;
    margin-bottom: 1rem;
}
.services .services-content .services-details ul li .icon{
    font-size: 20px;
    color: #F5AA1B;
    background-color: #5A3316;
    border-radius: 50%;
    padding: 5px;
}
.services .services-content .services-details p{
    font-size: 18px;
    color: #292D32;
    text-align: left;
    font-weight: 400;
}
.services p{
    font-size: 18px;
    color: #292D32;
    text-align: center;
    font-weight: 500;
}
.services  .image-container-below{
    display: none;
}
@media (max-width: 768px) {
    .services {
        padding-top: 50px;
        padding-bottom: 2rem;
    }
    .services .services-header h2 {
        font-size: 35px;
    }
    .services .services-content {
        flex-direction: column;
        padding-top: 2rem;
        gap: 2rem;
    }
    .services .services-content .services-details {
        max-width: 100%;
    }
    .services .services-content .services-details h3 {
        font-size: 25px;
    }
    .services .services-content .services-details ul {
        font-size: 16px;
    }
    .services .services-content .services-details ul li {
        margin-bottom: 0.5rem;
    }
    .services .services-content .services-details p {
        font-size: 16px;
    }
    .services p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .services{
        padding: 10px;
    }
    .services .services-header h2 {
        font-size: 25px;
    }
    .services .services-header p{
        font-size: 16px;
        font-weight: 500;
    }
    .services .services-content .image-container img{
        /* width: 300px; */
        display: none;
    }
    .services .services-content .services-details h3 {
        font-size: 18px;
    }
    .services .services-content .services-details ul li .icon{
        font-size: 10px;
    }
    .services .services-content .services-details ul {
        font-size: 14px;
    }
    .services .services-content .services-details p {
        font-size: 14px;
    }
    .services p {
        font-size: 14px;
    }
    .services .image-container-below{
        display: block;
        padding-top: 2rem;
    }
    .services .image-container-below img{
        width: 300px;
    }
}