.features-section{
  padding: 2rem 3rem;
  background-color: #F6F8FB;
}
.features-section h1{
  font-size: 40px;
  font-weight: 600;
  color: #5A3316;
  text-align: center;
}
.features-section .content-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.features-section .content-container .left-container{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}
.features-section .content-container .left-container h2{
  font-weight: 600;
  color: #5A3316;
  font-size: 24px;
  line-height: 1;
}
.left-container img{
  max-width: 400px;
  height: 450px;
}