.why-us-container{
    background-color: #ffffff;
    background-image: url('../../assets/whyImgbg.png');
    background-position: left;
    background-repeat: no-repeat;
}
.why-us-container h1{
    color: #5A3316;
    text-align: center;
    font-size: 45px;
}
.why-us-container .why-content{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 1rem;
    padding-right: 3rem;
}